.conteiner{
    padding-top: 100px;
    margin: auto;
}
h1{
    text-align: center;
    font-size: 70px;
    color: rgb(24, 82, 7)
}

.buttons{
    align-items: center;
    text-align: center;
}
button{
    width: 120px;
    height: 80px;
}