.myWhatsapp{
    margin: auto;
    text-align: center;
    width: 50vw;
    height: 100%;
    position: relative;
}


.title{
    /* padding-top: 30px; */
}

h4{
    cursor: pointer;
}


.content{
    direction: rtl;
    margin: auto;
    background-color: rgb(244, 248, 248);
    width: 50vw;
    height: 50vh;
    background-color: rgb(220, 248, 248);
    overflow: auto;
    padding-top: 11px

    /* border: solid 1px; */
}

.menu{
    text-align: left;
    padding-top: 15px
}
#menu{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
#ul{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    width: 130px;
    min-height: 100px;
    background-color: rgb(188, 199, 199);
    position: fixed;
}
#addGroupSpan{
    padding: 10px;
}


.addUserToGroup{
    background-color: aliceblue;
    width: 60%;
    justify-content: center;
    text-align: center;
}


#addGroup{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    width: 400px;
    height: 235px;
    background-color: rgb(231, 228, 225);
    text-align: center;
    display: none;
    
}

.nameGroup{
    justify-content: center;
    margin-top: 100px;
    display: flex;
    direction: rtl;
    padding-bottom: 30px;
}

.list-select{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

textarea{
    width: 49.6vw;
    height: 10vh;
    background-color: rgb(255, 246, 246)
}

.send-message{
    display: none;
}

.msgName{
    display: flex;
    /* padding-bottom: 10px; */
}

.wrapMessage{
    height: 70px;
    cursor: pointer;
    padding-right: 10px;
  
    
}

#spanName{
    padding-right: 20px;
    width: 70%;
    text-align: right
}


.msgText{
    width: 40%;
    text-align: right;
    padding: 15px;
}

#spanTextMsg{}

#msgText{
    padding-right: 20px;
}

.time{
    padding-right: 60px;
    display: flex;
    flex-direction: column
}

.wrapMessageMsg{
    min-height:50px ;
    cursor: pointer;
}

.msg{
    display: flex;
    padding-right: 30px;
    max-width: 50%;
    direction: rtl;
    border: solid 1px;
    border-radius: 50px;
    cursor: pointer;
}

.timeMsg{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 15px
}
span{
    min-width: 139px;
}
h4{
    width: 100px;
}
.active{
    background-color: rgb(235, 236, 236)
}
#wrapreciver{
    direction: ltr
}
#spanreciver{
    direction: ltr
}


#reciver{
    background-color: rgb(172, 248, 128)
}